@charset "utf-8";
/* CSS Document */
/*********************************************************************定义全局***********************************************/
body,div,h1,h2,h3,h4,h5,h6,p,img,ul,ol,li{margin:0;padding:0;}
body{font-family:"宋体",Arial, Helvetica;font-size:12px;}
ul,ol,li{list-style-type:none;}
a,a:hover{text-decoration:none;}
img{border:none;}
.clear{clear:both;}

.wrap{width:1004px; margin:0 auto;}
.wrap a{outline: none; /* for Forefox */ } 
.wrap a{star:expression(this.onFocus=this.blur()); /* for Ie*/ } 
.wrap a:link,a:visited{ color:#333; text-decoration:none; font-size:12px;}
.wrap a:hover{ color:#de3237; text-decoration:none}
.wrap .fr{float: right;}
.top{width:100%; background:#f7f7f7; border-bottom:1px solid #dad9d7; height:28px; line-height:28px;}
.header{ width:100%; padding:10px 0;}
.search_box{ padding:30px 0 15px;}
.search{ width:520px; height:68px;float:right;}
#lenu1 li{float:left;display:block;cursor:pointer;width:58px;text-align:center;line-height:29px;height:29px;}
#lenu1 li span{ float:right; color:#c0c0c0; font-weight:normal}
#lenu1 li.hover{color: #de3237;font-weight:bold;}
.lain1_box{clear:both;background:#df3237;width:514px; padding:3px; line-height:30px;}
.sertxt{ border:1px solid #a64b54; width:410px; height:30px; padding-left:5px;}
.serbtn{width:97px; height:30px; background:none; border:none;cursor:pointer; color:#fff; font-size:14px; font-weight:bold}
#lain1 ul{display:none;text-align:left;}
#lain1 ul.block{display: block;}

#source{
  font-size:12px;
}
.nav{
  width:100%; 
  border:1px 
  solid #D32A2F; 
  border-left:0;
  border-right:0;
  height:32px;
  line-height:32px;
  background:#de3237;
  margin-top: 15px;
}
.nav_left{
  float:left;
  margin: 0 auto;
  position: absolute;
  z-index: 111;
}
.nav_left li{
  float:left;
}
.nav_left li a:link,.nav_left li a:visited{
  color:#fff;
  font-size:18px;
  padding:0 50px;
  line-height:33px;
  text-decoration:none;
  display:block;
}
.nav_left li a:hover{
  background:#ba0100;
}
.nav_left .second_nav{
  position: relative;
	list-style: none;
  display: none;
  z-index: 9999;
}
.nav_left .second_nav li{
  position: relative;
  float: none;
}
.nav_left .second_nav a{
	white-space: nowrap;
}
.nav_left li:hover .second_nav {
	background: #de3237;
  display: block;
}


/* ************************主要内容************************* */
#content{
  position: relative;
  width: 1004px;
  margin: 0 auto;
}
#title{
  float: center;
  height: 150px;
}
#title span{
  display:block;
  text-align: center;
  font-size: 25px;
  height: 40px;
}
#title table{
  display:block;
  font-size: 16px;
  background: #dfdfdf;
  float: center;
}
#title table th{
  text-align: center;
  width: 100px;
  height: 40px;
}
#title table td{
  text-align: center;
  width: 400px;
  height: 40px;
}

#introduce{
  width: 1004;
  border: 1px solid #dfdfdf;
}
#introduce span{
  text-align: center;
  display:block;
  width: 120px;
  font-size: 23px;
  margin: 10px 0px 10px 10px;
  background: #df3237;
}
#introduce ul{
  width: 974px;
  height: 650px;
  margin: 0 auto;
  border: 5px solid #dfdfdf;
}
#introduce ul li{
  width: 964px;
  height: 40px;
  margin: 0 auto;
  background: #ffffff; 
  line-height: 40px;
  border: 5px solid #dfdfdf;
}
#introduce ul li .title{
  font-size: 16px;
  background: none;
  display: inline;
}
#introduce ul li .content{
  font-size: 16px;
  background: none;
  display: inline;
  color: #3882c4;
  font-weight: bold;
}

#condition{
  margin-top: 20px;
  border: 1px solid #dfdfdf;
}
#condition span{
  text-align: center;
  display:block;
  width: 120px;
  font-size: 23px;
  margin: 10px 0px 10px 10px;
  background: #df3237;
}
#condition ul{
  width: 974px;
  margin: 0 auto;
  border: 5px solid #dfdfdf;
}
#condition ul li{
  width: 964px;
  height: 40px;
  margin: 0 auto;
  background: #ffffff; 
  line-height: 40px;
  border: 5px solid #dfdfdf;
  font-size: 16px;
  background: none;
}

#stuff{
  margin-top: 20px;
  border: 1px solid #dfdfdf;
}
#stuff span{
  text-align: center;
  display:block;
  width: 120px;
  font-size: 23px;
  margin: 10px 0px 10px 10px;
  background: #df3237;
}
#stuff ul{
  width: 974px;
  margin: 0 auto;
  border: 5px solid #dfdfdf;
}
#stuff ul li{
  width: 964px;
  height: 40px;
  margin: 0 auto;
  background: #ffffff; 
  line-height: 40px;
  border: 5px solid #dfdfdf;
  font-size: 16px;
  background: none;
}

/* ************************后台申报指南guide_detail样式************************* */
#content2{
  position: relative;
  width: 1004px;
  margin: 0 auto;
}
#title2{
  float: center;
  height: 100px;
}
#title2 span{
  display:block;
  text-align: left;
  font-size: 14px;
  height: 40px;
}
#title2 table{
  display:block;
  font-size: 14px;
  background: #edf6fa;
  float: center;
}
#title2 table th{
  text-align: left;
  width: 100px;
  height: 40px;
}
#title2 table td{
  text-align: left;
  width: 300px;
  height: 40px;
}

#introduce2{
  width: 1004;
  border: 1px solid #dfdfdf;
}
#introduce2 span{
  text-align: center;
  font-size: 18px;
  margin: 10px 0px 10px 10px;
}
#introduce2 ul{
  width: 974px;
  height: auto;
  margin: 0 auto;
  border: 5px solid #edf6fa;
}
#introduce2 ul li{
  width: 964px;
  height: 40px;
  margin: 0 auto;
  background: #ffffff; 
  line-height: 40px;
  border: 5px solid #edf6fa;
}
#introduce2 ul li .title{
  font-size: 14px;
  /* background: none; */
  display: inline;
}


/* ************************左侧导航栏**************************** */
/* #subnav{
  position: fixed;
  width: 170px;
  margin:0 auto;
  float: left;
  line-height:40px;
}
#subnav #title{
  background: #de3237;
  font-size: 19px;
  font-weight:bold;
  text-align: center;
}
#subnav_tag li a{
  font-size:14px;
  text-align: center;  
  line-height:40px;
  display:block;
  background: rgb(207, 204, 204);
  color: #333;
}
#subnav_tag li a:hover{
  background:rgb(133, 131, 131);
}
#second_tag{
  display: none;
}
#second_tag li{
  position: relative;
  font-size: 12px;
  text-align: right;
  
}
#second_tag li a{
  font-size: 12px;
  background: rgb(233, 229, 229);
}
#second_tag li a:hover{
  background:#7A7979;
}
#subnav_tag li:hover #second_tag {
  display: block;
} */

/*********************************************************************资讯脚部***********************************************/

.footer{
  width:1004px;height:100px;border-top:1px solid #dfdfdf;
  font-family:Arial;font-size: 12px;
  line-height:100%;
}
.footer ul{padding-top:5px;color:#696969;}
.footer ul .li_left{text-align:left;}
.footer ul .li_right{text-align:right;}
.footer ul li{width:502px;float:left;margin-top:10px;}
.footer ul li a{color:#696969;}
.footer ul li a:hover{text-decoration:underline;}
.footer ul li span a{color:#414141;font-weight:bold;}
.footer ul li span a:hover{text-decoration:underline;}