/**************主页头部****************/
#head{
	/*background: #de2327;*/
}
#head #head_title {
	font-size: 22px;
	font-weight: bold;
	color: #007AFF;
}

/***************正文部分***************/

/*************密码修改部分************/
#passwordChange .mui-input-row {
	line-height: 30px;
	height: 60px;
	padding-top: 10px;
}
#passwordChange .mui-input-row label {
	color: #007AFF;
}

/****************按钮样式部分****************/
#passwordChange #ensure {
	padding: 3px 20px;
	font-size: 20px;
	float: left;
	margin-left:20px ;
}
#passwordChange #cansel {
	padding: 3px 20px;
	font-size: 20px;
	float: right;
	margin-right:20px ;
}

