/**************主页头部****************/
#head{
	/*background: #de2327;*/
}
#head #head_title {
	font-size: 22px;
	font-weight: bold;
	color: #007AFF;
}

/*个人信息卡片视图*/

/*个人信息*/
#operation ul li{
	line-height: 30px;
	font-size: 18px;
	text-align: center;
}