<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beijiao.dao.CompanyMapper">
<!-- 查询公司信息 -->
<select id="selectCompany" parameterType="int" resultType="com.beijiao.model.Company">
     select * from company where companyId=#{companyId}
</select>
<!-- 查询所有公司信息 -->
<resultMap type="com.beijiao.model.Company" id="companyList">
    <id column="companyId" property="companyId"/>
    <result column="companyName" property="companyName"/>
    <result column="companyIntro" property="companyIntro"/>
  </resultMap>
<select id="selectListComany" resultMap="companyList">
select * from company limit 5
</select>
<!-- 添加公司 -->
<insert id="addCompany"  parameterType="com.beijiao.model.Company"> 
 insert into company(companyName,companyIntro) values(#{companyName},#{companyIntro})
</insert>
<!-- 修改公司信息 -->
<update id="changeCompany" parameterType="com.beijiao.model.Company">
 update company companyIntro=#{companyIntro} where companyId=#{companyId}
</update>
<!-- 删除公司 -->
<delete id="deleteComapany" parameterType="int">
delete * from company where companyId=#{companyId}
</delete>
</mapper>