<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beijiao.dao.DiscussDao">
<!-- 查询讨论 -->
<select id="selectDiscuss" parameterType="int" resultMap="Discusslist">
     select * from discuss where discussId=#{discussId}
</select>

<select id="selectListDiscuss" parameterType="int" resultMap="Discusslist">
     select * from discuss order by discussId desc limit 7
</select>

<select id="selectAllDiscuss" parameterType="int" resultMap="Discusslist">
     select * from discuss order by discussId desc
</select>
<resultMap type="com.beijiao.model.Discuss" id="Discusslist">
        <id column="discussId" property="discussId"/>
        <result column="userId" property="userId"/>
        <result column="disTitle" property="disTitle"/>
        <result column="disContent" property="disContent"/>
        <result column="reply" property="reply"/>
        <result column="disTime" property="disTime"/>
</resultMap>
<!-- 添加讨论 -->
<insert id="insertDiscuss" parameterType="com.beijiao.model.Discuss">
       insert into discuss(userId,disTitle,disContent,disTime) values(#{userId},#{disTitle},#{disContent},#{disTime})
</insert>
<!-- 添加回复 -->
<insert id="insertReply" parameterType="com.beijiao.model.Discuss">
       insert into discuss(reply) values(#{reply}) where discussId=#{discussId}
</insert>
<!-- 删除讨论 -->
<delete id="deleteDiscuss" parameterType="int">
       delete * from discuss where discussId=#{discussId}
</delete>
</mapper>