<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beijiao.dao.DiscussDao">
<!-- 查询讨论 -->
<select id="selectDiscuss" parameterType="int" resultMap="Discusslist">
     select * from discuss where discussId=#{discussId}
</select>

<select id="selectListDiscuss"  resultMap="Discusslist">
     select * from discuss order by discussId desc limit 7
</select>

<select id="selectAllDiscuss"  resultMap="Discusslist">
     select * from discuss order by discussId desc
</select>

<!-- userId查询回复 -->
<select id="selectListDiscussByUserId" resultMap = "Discusslist">
	select * from discuss where userId = #{userId}
</select>
<resultMap type="com.beijiao.model.Discuss" id="Discusslist">
        <id column="discussId" property="discussId"/>
        <result column="userId" property="userId"/>
        <result column="disTitle" property="disTitle"/>
        <result column="disContent" property="disContent"/>
        <result column="reply" property="reply"/>
        <result column="disTime" property="disTime"/>
</resultMap>
<!-- 添加讨论 -->
<insert id="insertDiscuss" parameterType="com.beijiao.model.Discuss">
       insert into discuss(userId,disTitle,disContent,disTime,email) values(#{userId},#{disTitle},#{disContent},#{disTime},#{email})
</insert>
<!-- 添加回复 -->
<insert id="insertReply" parameterType="com.beijiao.model.Discuss">
       insert into discuss(reply) values(#{reply}) where discussId=#{discussId}
</insert>
<!-- 删除讨论 -->
<delete id="deleteDiscuss" parameterType="int">
       delete from discuss where discussId=#{discussId}
</delete>
<!-- 根据id查询回复 -->
<select id="selectunRepliedById" parameterType="java.util.Map" resultType="com.beijiao.model.Discuss">
     select * from discuss where discussId=#{discussId}
</select>
<!-- 添加回复内容 -->
<insert id="updateReplyContent" parameterType="com.beijiao.model.Discuss" >
    update discuss set reply=#{reply},disTime=#{disTime} where discussId=#{discussId}
</insert>
<!-- 查询已回复 -->
<select id="selectReplied" parameterType="java.util.Map" resultMap="Discusslist">
     select * from discuss where reply is not null 
</select>
<!-- 查询未回复 -->
<select id="selectUnReply" parameterType="java.util.Map" resultMap="Discusslist">
     select * from discuss where reply is null 
</select>

<!--webApp -->
<select id="selectListDiscuss_app"  resultMap="Discusslist">
     select * from discuss order by discussId desc
</select>
</mapper>