<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beijiao.dao.PicPolicyDao">

 <!-- 查询政策 -->
<select id="getPicPolicy" parameterType="int" resultType="com.beijiao.model.PicPolicy">
select * from picpolicy where picPolId=#{picPolId}
</select>
<!-- 查询所有政策 -->
<select id="getFive"  resultMap="PicPolicylist">
select * from picpolicy order by picPolId desc <!-- limit 10 -->
</select>
<select id="getAll"  resultMap="PicPolicylist">
select * from picpolicy order by picPolId desc
</select>
<resultMap type="com.beijiao.model.PicPolicy" id="PicPolicylist">
    <id property="picPolId" column="picPolId"/>
    <result property="picPolTitle" column="picPolTitle"/>
    <result property="picPolContent" column="picPolContent"/>
    <result property="picPolSource" column="picPolSource"/>
    <result property="picPolTime" column="picPolTime"/>
    <result property="picPolFile" column="picPolFile"/>
</resultMap>
<!-- 添加政策 -->
<insert id="insertPicPolicy" parameterType="com.beijiao.model.PicPolicy">
insert into picpolicy(picPolTitle,picPolContent,picPolSource,picPolTime,picPolFile) values(
                       #{picPolTitle},#{picPolContent},#{picPolSource},#{picPolTime},#{picPolFile}) 
</insert>

<!-- 删除政策 -->
<delete id="deletePicPolicy" parameterType="int">
delete * from picpolicy where picPolId=#{picPolId}
</delete>

</mapper>