<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beijiao.dao.PolicyMapper">
<!-- 查询政策 -->
<select id="selectPolicy" parameterType="int" resultType="com.beijiao.model.Policy">
select * from policy where policyId=#{policyId}
</select>
<!-- 查询所有政策 -->
<select id="selectListPolicy"  resultMap="policyList">
select * from policy limit 7
</select>
<resultMap type="com.beijiao.model.Policy" id="policyList">
    <id property="policyId" column="policyId"/>
    <result property="pClassName" column="pClassName"/>
    <result property="polTitle" column="polTitle"/>
    <result property="polContent" column="polContent"/>
    <result property="polSource" column="polSource"/>
    <result property="polTime" column="polTime"/>
    <result property="polFile" column="polFile"/>
    <result property="polDrade" column="polDrade"/>
</resultMap>

<select id="selectAllPolicy"  resultMap="policyList">
select * from policy 
</select>
          
<select id="selectPolicyType" parameterType="String" resultMap="policyList">
select * from policy where polDrade=#{type} order by policyId desc 
</select>

<select id="selectPolicyArea" parameterType="String" resultMap="PolicyArea">
select policyId,polTitle,polArea,polTime from policy where polArea=#{area} limit 7
</select>

<resultMap type="com.beijiao.model.Policy" id="PolicyArea">
    <id property="policyId" column="policyId"/>
    <result property="polTitle" column="polTitle"/>
    <result property="polArea" column="polArea"/>
    <result property="polTime" column="polTime"/>
</resultMap>  

<select id="searchIndustryPlocy" parameterType="String" resultMap="policyList">
select * from policy where pClassName=#{pClassName}
</select> 

<select id="searchPloicy" parameterType="String" resultMap="policyList">
   <!-- select * from policy where policyTitle,polContent like CONCAT(CONCAT('%', #{search}), '%') -->
   select * from policy where 
             <if test="policyTitle != null">  
                policyTitle like CONCAT('%','${search}','%' )  
            </if>  
            <if test="polContent != null">  
                AND polContent like CONCAT('%','${search}','%' )  
            </if>  
</select>


<select id="getAllFile" parameterType="String" resultMap="allFile">
select policyId,polTitle,polTime from policy 
</select>
<resultMap type="com.beijiao.model.Policy" id="allFile">
    <id property="policyId" column="policyId"/>
    <result property="polTitle" column="polTitle"/>
    <result property="polTime" column="polTime"/>
</resultMap> 

<select id="getLimitFile" parameterType="String" resultMap="LimitFile">
select policyId,polTitle,polTime from policy  limit 10
</select>
<resultMap type="com.beijiao.model.Policy" id="LimitFile">
    <id property="policyId" column="policyId"/>
    <result property="polTitle" column="polTitle"/>
    <result property="polTime" column="polTime"/>
</resultMap> 

<select id="getFile" parameterType="int" resultType="com.beijiao.model.Policy">
select * from policy where policyId=#{policyId}
</select>

<!-- 添加政策 -->
<insert id="addPolicy" parameterType="com.beijiao.model.Policy">
insert into policy(polTitle,pClassName,polContent,polSource,polTime,polDrade,polFile,polArea) values(
                 #{polTitle},#{pClassName},#{polContent},#{polSource},#{polTime},#{polDrade},#{polFile},#{polArea}) 
</insert>
<!-- 修改政策 -->
<update id="changePolicy" parameterType="com.beijiao.model.Policy">
 update policy set polTitle=#{polTitle},polContent=#{polContent},polSource=#{polSource} where policyId=#{policyId}
</update>
<!-- 删除政策 -->
<delete id="deletePolicy" parameterType="int">
delete * from policy where policyId=#{policyId}
</delete>
</mapper>