<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beijiao.dao.PolInterpreMapper">
<!-- 查询政策 -->
<select id="selectPolInterpre" parameterType="int" resultType="com.beijiao.model.PolInterpre">
select * from polInterpre where polInterpreId=#{polInterpreId}
</select>
<!-- 查询所有政策 -->
<select id="selectListPolInterpre"  resultMap="polInterpreList">
select * from polInterpre order by polInterpreId desc
</select>

<!-- 查询记录的条数 -->
<select id="getRecordCount" resultType="int">
 select  count(*) from polInterpre 
</select>

<resultMap type="com.beijiao.model.PolInterpre" id="polInterpreList">
    <id property="polInterpreId" column="polInterpreId"/>
    <result property="polInterpreTitle" column="polInterpreTitle"/>
    <result property="polInterpreAuthor" column="polInterpreAuthor"/>
    <result property="polInterpreContent" column="polInterpreContent"/>
    <result property="polInterpreSource" column="polInterpreSource"/>
    <result property="polInterpreTime" column="polInterpreTime"/>
</resultMap>

<select id="selectAllPolInterpre"  parameterType="java.util.Map" resultMap="polInterpreList">
   select * from polInterpre order by polInterpreId desc limit #{startPos},#{pageSize}
</select>
<select id="searchPolInterpre" parameterType="String" resultMap="polInterpreList">
   select * from polInterpre where polInterpreTitle=#{polInterpreTitle} like '%"
</select>
<select id="searchPloicy" parameterType="String" resultMap="polInterpreList">
   select * from polInterpre where 
             <if test="polInterpreTitle != null">  
                polInterpreTitle like CONCAT('%','${search}','%' )  
            </if>  
            <if test="polInterpreContent != null">  
                AND polInterpreContent like CONCAT('%','${search}','%' )  
            </if>  
</select>
<!-- 添加政策 -->
<insert id="addPolInterpre" parameterType="com.beijiao.model.PolInterpre">
insert into polInterpre(polInterpreTitle,polInterpreAuthor,polInterpreContent,polInterpreSource,polInterpreTime) values(
                 #{polInterpreTitle},#{polInterpreAuthor},#{polInterpreContent},#{polInterpreSource},#{polInterpreTime}) 
</insert>
<!-- 修改政策 -->
<update id="changePolInterpre" parameterType="com.beijiao.model.PolInterpre">
 update polInterpre set polInterpreTitle=#{polInterpreTitle},polInterpreAuthor=#{polInterpreAuthor},
                            polInterpreContent=#{polInterpreContent},polInterpreSource=#{polInterpreSource},
                                    polInterpreTime=#{polInterpreTime} where polInterpreId=#{polInterpreId}
</update>
<!-- 删除政策 -->
<delete id="deletePolInterpre" parameterType="int">
delete * from polInterpre where polInterpreId=#{polInterpreId}
</delete>

</mapper>